{% include 'includes/header.html' %}
        <div class="lead"></div>
        <div class="container">
            <!--
                这里的几个alert类的div用于指示操作成功, 需要分种类指示
                不用于指示的加入.hidden类即可隐藏
            -->
            
            <div class="alert alert-success" role="alert">
                <p><span class="glyphicon glyphicon-ok">&nbsp;</span><strong class="text-lg">成功创建订阅!</strong></p>
                <p>将在电量余额少于30的时候发送邮件通知</p>
                
                <p></p>
                <a href="{{ success.back_href }}" class="btn btn-success btn-xs">返回</a>
            </div>

{% include 'includes/footer.html' %}
{% load staticfiles %}
  </body>
</html>