         <!-- Footer
================================================== -->
        <footer class="bs-docs-footer" role="contentinfo">
            <div class="container">
                <p>Copyright&copy;2014-2015 <a href="http://jnueicsu.sinaapp.com">暨大开发者社区</a> 技术支持:<a href="http://jnu-developer.com">jnu-developer</a>@googlegroups.com</p>
                
            </div>
        </footer>

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>